{% extends 'core/base.html' %}

{% block content %}
<div class="container animated-div">
    <h1>Add User</h1>
    <form id="addUserForm" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Submit</button>
    </form>
    <a href="{% url 'user_list' %}" class="button">Back</a>
</div>

<script>
    document.getElementById('addUserForm').addEventListener('submit', function(event) {
        const departmentInput = document.getElementById('id_department');
        const budgetInput = document.getElementById('id_budget');

        if (!departmentInput.value) {
            alert('Please select a department.');
            departmentInput.focus();
            event.preventDefault();
            return false;
        }

        if (!budgetInput.value) {
            alert('Please select a budget.');
            budgetInput.focus();
            event.preventDefault();
            return false;
        }
    });
</script>
{% endblock %}
