<!-- core/templates/core/admin_home.html -->
{% extends 'core/base.html' %}

{% block content %}

    <div class="home_container animated-div">
        <div class="topbar">
    
            <div class="titlepart">
                <h1>Admin Home for {{ company.name }}</h1>
            </div>
            
        </div>

        <div class="mid-content">
            <div class="card">
                <a href="{% url 'item_list' %}" class="fbutton"><span>Items</span></a>
                <a href="{% url 'user_list' %}" class="fbutton"><span>Users</span></a>
                <a href="{% url 'view_all_items' %}" class="fbutton"><span>All Items</span></a>
                <a href="{% url 'settings' %}" class="fbutton"><span>Settings</span></a>
            </div>
        </div>

        <a href="{% url 'home' %}" class="button">Back</a>
    
    </div>



{% endblock %}
