<!-- core/templates/core/home.html -->
{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/home.css' %}">

<div class="container animated-div">
    <div class="topbar">
        <div class="titlepart">
            <h1>Welcome to the Procurement Provisions selection site for {{ company.name }}</h1>
            <p>Click User to head over to select your items</p>
        </div>
    </div>
    <div class="mid-content">
        <div class="card">
            <a href="{% url 'user_home' %}" class="fbutton"><span>User</span></a>
            <a href="{% url 'admin_home' %}" class="fbutton"><span>Procurement<br>Admin</span></a>
        </div>
    </div>
    <a href="{% url 'main_home' %}" class="button">Back to Company Selection</a>

</div>
{% endblock %}
