<!-- core/templates/core/summary_checkout.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'core/departments.css' %}">
<div class="departments-display animated-div">
    <div class="departments-catalogue">
        <h3>Summary for {{ user.name }}</h3>
        <ul class="departments-list">
            {% for selected_item in selected_items %}
            <li>
                <p>
                    <span class="item-name">{{ selected_item.item.name }}</span> x 
                    <span class="item-quantity">{{ selected_item.quantity }}</span> - 
                    GHC <span class="item-total">{{ selected_item.total }}</span>
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>  
    <div class="total-cost">
        <h3>Total Cost: GHC {{ total_cost }}</h3>
    </div>
    <a href="{% url 'select_item' %}" class="departments-back-btn">Edit Selected Items</a>
    <a href="{% url 'user_home' %}" class="departments-back-btn">Save and Return Home</a>
</div>
{% endblock %}