/* catalogue.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
  padding: 10px 20px;
  background-color: #f4f4f4;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

h1,h2{
  font-family: 'Exo 2', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800; /* Adjust the weight as needed */
  color: rgb(247, 114, 5);
  /*margin-right: 50vh;
/* Center the heading */
}
h3{
  font-family: 'Exo 2', sans-serif;
  font-size: 1.8vh;
}

.back-button {
  text-decoration: none;
  margin-right: auto; /* Push the back button to the far left */
}

.back_button {
  background-color: #ff0000c5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back_button:hover {
  background-color: #cc0000c7;
}

.display {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 20px;
}

.catalogue, .checkout {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 48%;
}

.catalogue h3, .checkout h3 {
  margin-top: 0;
}

#items-list, #catalogue-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#items-list li, #catalogue-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#items-list li:last-child, #catalogue-list li:last-child {
  border-bottom: none;
}

.add-btn{
  background-color: #4CAF50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 5vh;
}

.add-btn:hover, .delete-btn:hover {
  background-color: #3e8e41;
}

.delete-btn {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 5vh;
}

.delete-btn:hover {
  background-color: #cc0000;
}

#total-cost {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

#proceed-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#proceed-btn:hover {
  background-color: #3e8e41;
}

.button-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}

.plus-button,
.reduce-btn {
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 3vh;
}

.plus-button:hover, .reduce-btn:hover {
  background-color: #d3d0d0;
}